i-icon {
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    line-height: 33px;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

i-icon:hover {
    color: var(--accent-color);
    transform: scale(1.1);
    transition: transform .1s linear;
}

i-icon span {
    font-size: 12px;
    color: var(--main-color);
    margin: -11px;
    position: relative;
    display: inline-block;
    top: -13px;
}

i-icon strong {
    background: #e90a77;
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 10px;
    color: white;
    border: 1px solid #a4a4a4;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    display: none;
    right: 0px;
    top: 0px
}
